<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Post Graduate</h3><hr>
    <strong><p>Postgraduate Programmes:</p></strong>
    <p>Being an affiliated college of Krishna University, admissions take place on the basis of the ranks obtained in KRU-CET for M.Sc.Courses and the ranks obtained in I-CET for MBA & MCA Courses.</p>
    <strong><p>P.G.Courses offered by Andhra Loyola College (As per the rules of University & State Govt.) are:</p></strong>

    <ol>
        <li>Master of Computer Applications</li>
        <li>Master of Business Administration</li>
        <li> M.Sc Botany</li>
        <li>M.Sc Physics</li>
        <li>M.Sc Maths</li>
        <li>.M.Sc Chemistry</li>
        
    </ol>

    <ul>
        <li>The academic year consists of two semesters with a system of evaluation based on Continuous Internal Assessment (CIA) and Semester-End Examination (SEE) i.e. internal exams and external exams in a 50:50 ratio as per University norms. Project work is compulsory for all final year students except for M.Sc. Physics.</li>
        <li>Spacious campus with an extra-ordinary history of 60 years of existence</li>
        <li>in the field of higher education</li>
        <li>Excellent faculty, state-of-the art lab, library and other facilities.</li>
        <li>Provision to do certificate/diploma courses along with your regular course.</li>
        <li>Special coaching classes/activities to improve your career prospects.</li>
        <li>Excellent record of placements.</li>
        <li>Cultural festivals, interesting co-curricular and extra-curricular activities.</li>

    </ul>

     <strong><p>For Details:alcpgvij@gmail.com</p></strong><hr>
     <footer>
        <p><marquee>Author: Designed and Maintained by Andhra Loyola College</marquee><br>
        <a routerLink="mailto:nagarjunareddy142263@gmail.com">nagarjunareddy142263@gmail.com</a></p>
      </footer>
     </body>
</html>
