<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Research Info</h3><hr>
    <p>Andhra Loyola College, Vijayawada, run by the Society of Jesus (Jesuits), is a premier Institution of Higher Education in the service of Andhra Pradesh and the Country for the last sixty five years. In recognition of its service to the cause of higher education, the UGC has conferred on our College the prestigious status of the <b>College with Potential for Excellence</b> in the First Phase itself in the year 2004.</p>
    <p>Andhra Loyola College was selected under the <b>Star College Scheme </b>in February 2016 by the Dept. of Biotechnology, and was also identified for Support under the FIST Project of DST, in January 2018, by the Ministry of Science and Technology, Govt. of India, with an Outlay of 1.10 Crore to further strengthen Teaching and Research Facilities in all Science Departments of the College over a period of next five years.</p>
    <p>The College was awarded the All India 24th Rank for Colleges in April 2017 by the National Institutional Ranking Framework. Once again, it is the highest rank for both the Telugu States.
        Andhra Loyola College was accredited by NAAC in March 2017 at A+ Grade with a CGPA of 3.66 in III Cycle, the highest CGPA in AP and Telangana so far and the third highest CGPA for South India under the New Grading System. The National Institutional Ranking Framework awarded our College with the All India 56th Rank for Colleges in April 2018.</p>
        <p>The Rashtriya Utchathar Siksha Abhiyan (RUSA) of MHRD, Govt. of India, selected our College under Component Eight for 'Enhancing Quality and Excellence in select Autonomous Colleges' with a Grant of 5 Crores for its academic credentials.</p>
        <p>The Commissionerate of Collegiate Education, Government A.P., awarded Andhra Loyola College the First Rank based on the Key Performance Indicators in the College Rankings for the year 2017-2018.</p>
        <p>Andhra Loyola College has also been certified as an ISO 9001:2015 Institution under the scope of certification<b> "Providing Quality Education"</b>bfor a period of three years from 2019 to 2022.</p>
        <p>Research and extension are the backbone of any academic institution of Higher Education and more so to the Autonomous College. Five Departments in the college are recognized as research centers. The total number of Ph.D. holders among the Staff goes up to 59 while that of M. Phil. stand at 37. Likewise, the number of faculty members who qualified themselves in NET and SLET stand at 21.
        </p>
        <p>35 Doctoral degrees, 88 M. Phil Degrees have been awarded under the supervision of the college faculty. During last 5 years, the faculty members have published nearly 600 research articles in various indexed National and International Journals.</p><hr>
        <footer>
            <p><marquee>Author: Designed and Maintained by Andhra Loyola College</marquee><br>
            <a routerLink="mailto:nagarjunareddy142263@gmail.com">nagarjunareddy142263@gmail.com</a></p>
          </footer>
</body>

</html>
