<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
  <form>
    <div class="container">
      <h1>Register</h1>
      <p>Please fill in this form to create an account.</p>
      
      <label for="email"><b>Email:</b></label>
      <input type="text" placeholder="Enter Email" name="email" id="email" required><BR>
  
      <label for="psw"><b>Password:</b></label>
      <input type="password" placeholder="Enter Password" name="psw" id="psw" required><BR><BR>

      <button type="submit" class="btn btn-success" >Signin</button>
      <button type="submit" class="btn btn-danger" >Signout</button>
    </div>
    
    <div class="container signin" >
    </div>
</form><hr>
<footer>
  <p><marquee>Author: Designed and Maintained by Andhra Loyola College</marquee><br>
  <a routerLink="mailto:nagarjunareddy142263@gmail.com">nagarjunareddy142263@gmail.com</a></p>
</footer>

</body>
</html>