<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>ADMISSION 2020 - 2021</h3><HR>
        <strong>
            <p>The following are the Courses offered for the year 2020-21. Please see the complete admission brochure</p>
            <p>(downloadable) for the vision, mission and other details. DEGREE COURSES (BOYS & GIRLS)</p>

            <p><u>INTERMEDIATE COURSES (BIE, Government of Andhra Pradesh)</u></p></strong>
            <ol>
                <li>MPC : Mathematics, Physics & Chemistry</li>
                <li>BiPC : Botany, Zoology, Physics & Chemistry (with Coaching for NEET)</li>
                <li>CEC : Commerce, Economics & Civics</li>
                <li>MEC: Mathematics, Economics & Commerce</li>
                <li>HEC: History, Economics, Civics (English and Telugu Media)</li>
            </ol>
        <p><b>DEGREE COURSES: AUTONOMOUS</b></p><br>
        <b><u>B.Sc</u></b>
        <ol>
            <li>Mathematics, Statistics & Physics</li>
            <li>Mathematics, Physics & Chemistry</li>
            <li>Botany, Zoology & Chemistry</li>
            <li>Computer Science, Physics & Mathematics</li>
            <li>Computer Science, Mathematics & Statistics</li>
            <li>Maths, Statistics & Computer Science - Big Data Analytics</li>
            <li>Maths, Statistics & Computer Science - Artificial Intelligence</li>
            <li>Computer Science Mathematics & Electronics</li>
            <li>Electronics Technology & Computer Science</li>
            <li>Biotechnology, Microbiology & Chemistry</li>
        </ol>

        <b><u>B.A</u></b>
        <ol>
            <li>Economics, Politics & History</li>
            <li>Economics, Telugu Literature & History (Telugu Medium</li>
            <li>English Literature, Political Science & History</li>
            <li>Mathematics, Statistics & Economics</li>
            <li>Economics, History & Political Science with Integrated Coaching for Civil Services Exams</li>
        </ol>

        <b><u>B.M.S</u></b>
        <ol>
            <li>Agri Storage & Supply Chain</li>
            <li>E Commerce Operations</li>
        </ol>

        <b><u>B.Com</u></b>
        <ol>
            <li>B.Com General</li>
            <li>B.Com Computers</li>
            <li>B.Com Professional</li>
        </ol>

        <b><u>BBA</u></b>
        <ol>
            <li>B.Com Professional</li>
            <li>BBA (Bachelor of Business Admin.)</li>
            <li>BBA Logistics Management with Apprenticeship in every Even Semester</li>
            <li>BBA Retail Management with Apprenticeship in every Even Semester</li>
        </ol>

        <b>HOW TO APPLY</b>
        <P style="color: green;">For Application and Prospectus contact College Office from 9:30 am to 5 pm & Obtain them by paying Rs.150/- (Relevant Application Form could be downloaded from our College website www.andhraloyolacollege.ac.in and filled in Applications could be forwarded to The Principal, Andhra Loyola College, Vijayawada-520008 by post, along with a DD for Rs.150/- drawn in favour of Principal, Andhra Loyola College payable at Vijayawada. Along with application form enclose Xerox copies of 10th, Inter, Cast, Aadhaar card of student, mother and father.(or Forward to alcdegreeadmission@gmail.com / loyolainter@gmail.com / alcpgvij@gmail.com. at the time of interview you need to submit hard copies)</P>
        <P style="color: RED;">For Hostel Accommodation Contact:
            Non-Catholic Degree Boys: Director, Gogineni Hostel (0866-2473182)
            Degree Catholic and all Intermediate Boys: Director, Xavier Hostel (0866-2479442),
            Girls: Director: Fr. Mathias Hostel (0866- 2476328)
            For details of Intermediate Courses, please contact : +91 9948169488, +91 7901336869
            For details of Degree Courses, please contact : 0866-2476082, 7901446869, 7901556869
            PG Admissions as per Krishna University PG Counselling :0866-2474902, 7901226869</P>
            <P style="color: red;">After receiving the filled in application, short listed candidates will be called for (through phone/ SMS ) to attend an interview from the admission section.</P>
            <P style="color: red;">The applicants need to prepare and come for the interview from the Intermediate (+2) syllabus only.</P>
            <P style="color: red;">If you are selected then your admission will be confirmed provided you pay the full admission fee immediately.</P>
            <P style="color: red;">For further details contact: (0866)-2476082, 7901556869, 7901446869</P><hr>
            <footer>
                <p><marquee>Author: Designed and Maintained by Andhra Loyola College</marquee><br>
                <a routerLink="mailto:nagarjunareddy142263@gmail.com">nagarjunareddy142263@gmail.com</a></p>
              </footer>
</body>
</html>