<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Principal's Message</h3><hr>
    <p>Welcome to the global family of Loyola! Thank you for visiting our website to learn more about our Andhra Loyola College (ALC).
        Education is a lifelong process and must be built on a solid and broad foundation for students to excel in their personal and professional life</p>
        <p>Andhra Loyola College, founded by the Jesuits, on Ignatian concept is the citadel of knowledge. It reflects in the verve of the classrooms and open-minded learning environment that helps the learner to explore himself to match up with the standards of the global education. Our Institution aims to prepare students with the intellectually-inspired learning which drives theory erudition and realistic approach that is essential to meet the challenges in every walk of their life. The strength of the institution lies in protecting and enhancing the highest standard of excellence in every learner. The real success of this institution lies in the relentless quest to shape the students as independent learners adopting the best practices by expanding the horizons of technology. The main objective of Andhra Loyola College is to ensconce the learning environment which makes the learners to build a future that encompasses the traditional roots and Indian culture.</p>
        <p>Over the years, the institution has witnessed the graph of the students rising from local to global. Andhra Loyola College is best known for its philanthropic activities. Be it a natural calamity or a human disaster, Andhra Loyola College always has a helping hand to those who suffer. The College also ensures social responsibility for the future nation builders as value-based education is imparted without compromising on high standards and it has been the predominant motivator and bedrock of our college. Respect for nature, wise utilization of resources and cleanliness add to the concern and responsibility that every individual in our college is accountable in safeguarding their own domain.</p>
        <p>We, the academic planners of Andhra Loyola College, have always persevered to inculcate requisite qualities like humaneness, modesty and honesty. We make the 21st century learners to be more imaginative, inventive and decisive in their thoughts and deeds.</p>
        <p>We welcome every aspirant to visit our elite institution in person.</p>
        <p>Education is not just about going to school and getting a degree. It’s about widening your knowledge and absorbing the truth about life’</p>
        regards,<br>
        <b>Rev Fr Dr G.A.P. KISHORE, SJ</b><br>
        <b>Principal</b><hr>
        <footer>
        <p><marquee>Author: Designed and Maintained by Andhra Loyola College</marquee><br>
        <a routerLink="mailto:nagarjunareddy142263@gmail.com">nagarjunareddy142263@gmail.com</a></p>
      </footer>

    </body>
    </html>