<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H3>Covid -10 Best Practices</H3><hr>
    <p id="naga"><b>Protect yourself and others from COVID-19</b></p>

    <p>If COVID-19 is spreading in your community, stay safe by taking some simple precautions, such as physical distancing, wearing a mask, keeping rooms well ventilated, avoiding crowds, cleaning your hands, and coughing into a bent elbow or tissue. Check local advice where you live and work. Do it all!</p>
    <p>You also find out more about WHO's recommendations for getting vaccinated on our public advice page on COVID-19 vaccines. </p>
    <img  class="sunitha" src="./assets/mask2.jpg" width="300px" height="300px">
    <img  class="namitha"  src="./assets/mask3.jpg" width="300px" height="300px">
    <img   class="asmitha"  src="./assets/mask4.jpg" width="400px" height="300px"><hr>
    <footer>
        <p><marquee>Author: Designed and Maintained by Andhra Loyola College</marquee><br>
        <a routerLink="mailto:nagarjunareddy142263@gmail.com">nagarjunareddy142263@gmail.com</a></p>
      </footer>
</body>
</html>