h3{
    text-align: center;
}
#naga{
    text-align: center;
}
.sunitha{
    padding: 5px;
    margin: 30px;
}
.namitha{
    padding: 5px;
    margin: 50px;
    margin-left: 40px;

}
.asmitha{
    padding: 5px;
    margin: 50px;
    margin-left: 900;

}
footer{
    text-align: center;
    color: red;
}
body{
    background-image: url("https://wallpaperaccess.com/full/327148.jpg");
}