
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h3>ABOUT LOYOLA</h3><hr>

<P>Andhra Loyola College is managed and administered by the members of the Society of Jesus (Jesuits), a Catholic religious order, which has rendered signal service in the fields of education and service to humanity for over 450 years. The college was founded in December 1953 at the request of the Catholic bishops of Andhra Pradesh and began its academic sessions in July 1954. The college offers Intermediate (+2), Degree, and Postgraduate courses as well as conducts research programmes in collaboration with several reputable universities.</P>
<P>In 1988, the college was accorded the status of Autonomy for the Degree-level programmes by the University Grants Commission (UGC) in recognition of its excellent contribution to the cause of higher education. The degrees for both UG and PG programmes are awarded by Krishna University to which the college is affiliated.</P>
<P>In 2004, the college won the prestigious ‘College with Potential for Excellence’ (CPE) status from the UGC.</P>
<P>In September 2008, the college was re-accredited by the National Assessment and Accreditation Council (NAAC), Bangalore, with Grade A (CGPA 3.65 out of 4.00).</P>
<P>During 2016, the Department of Biotechnology, Government of India, New Delhi, has selected our College under Star College Scheme to extend financial support to six of our Science Departments viz. Botany, Biotechnology, Microbiology, Zoology, Chemistry and Physics. <b>Ours is the first and only College in both the Telugu states so far to have been selected under this Scheme</b></P>
<P>n its 66-year-long history of operating socially relevant academic programmes in an environment at once disciplined and eco-friendly, given its vast and verdant campus, the college has remained steadfastly committed to its mission of producing men and women of both academic excellence and human excellence. That a large number of the alumni of the college have distinguished themselves by their signal contribution to their own professions as well as society (details under ‘Alumni’) does indeed vouch for the excellence the college has achieved.</P>
 <h5>Students’ strength</h5>
 <P>The total number of the students in the College is 6146, representing 24 out of the total 29 states in our country from Meghalaya to Maharashtra and Kashmir to Kerala.</P>

 <H5>Vision</H5>
 <P>To impart higher education with integral formation which involves academic excellence, spiritual growth, social commitment and value based leadership.</P>

 <h5>Mission</h5>
 <P>Our Jesuit education demands that our college forms“men and women for others” and mould them as global citizens with competence, conscience and compassionate commitment. Special concern is shown towards the socially and economically marginalized students.</P>
 <hr>
 <footer>
    <p><marquee>Author: Designed and Maintained by Andhra Loyola College</marquee><br>
    <a routerLink="mailto:nagarjunareddy142263@gmail.com">nagarjunareddy142263@gmail.com</a></p>
  </footer>
</body>
</html>
