<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>E content By Faculty</h3><hr>

    <strong><p>Department of Telugu</p></strong>
    <ol>
        <li>KG To PG CA To Civils EXAMS MADE PERFECT || Part 1/2 by Dr.V Gopal Reddy</li>
        <li>KG To PG CA To Civils EXAMS MADE PERFECT || Part 2/2 by Dr.V Gopal Reddy</li>
    </ol>

    <strong>
        <p>e lessons offered by our staff in the Department of Physics</p>
    </strong>
   <ol>
       <li> Faraday's Law on Electromagnetism by Dr. G. Venkateswara Rao</li>
       <li> Types of Magnetic Materials by Dr. V. Ashok babu</li>
       <li>Atomic View of Dielectrics by Dr. Ch. Srinivasu</li>
       <li>Physics of Colours by Dr. G. Sahaya Baskaran</li>
       <li>Solar Cells by Sri. P. Srinivasa Sastry</li>
       <li>Rainbow Formation by Dr. T. Srikumar</li>
       <li> Superconductivity by Dr. M.C. Rao</li>
       <li>Generation of EM Waves by Dr. Ch. Srinivas Rao</li>
   </ol>

   <p><b>Department of Botany</b></p>

   <li>Conservation of Rare and Endemic plants by Dr. B. Siva Kumari</li><br>

   <p><b>Department of Computer Science</b></p> <br>
   Data Structure - Stack by Ms. A. Lavanya<br>

   <footer>
    <p><marquee>Author: Designed and Maintained by Andhra Loyola College</marquee><br>
    <a routerLink="mailto:nagarjunareddy142263@gmail.com">nagarjunareddy142263@gmail.com</a></p>
  </footer>
</body>
</html>