<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Contact Us</h3><hr>
    <p><b>Office Numbers:</b></p>
    <ol>
        <li>Main Office  (0866)    : 2476082, 2476984</li>
        <li>Office (Degree)           : 2481907</li>
        <li>Office (Inter)                : 2476965</li>
        <li>Office (PG)                   : 2474902</li>
        <li>Controller Of Exams  : 2473251</li>
    </ol>

    <p><b>Director Alumni:</b></p>
    <ol>
        <li>Association                    :  2494988</li>
        <li>Fax (Correspondent )    :  2486084</li>
        <li>Fax (Principal)                :  2474531</li>
        <li>Gogineni Hostel             :  2473182</li>
    </ol>

    <P><B>Hostel:</B></P>
    <ol>
        <li>New Hostel               :  2474852</li>
        <li>Xavier Hostel            :  2479442</li>
        <li>Sanjeevan Hostel     :  2450334</li>
        <li>Kaladarshini              : 2473250</li>
        <li>Jesuit Residence       : 2476329</li>
    </ol>

    <P><B>E-Mail:</B></P>
    <ol>
        <li>Contactalc@Gmail.Com</li>
        <li>Alcviceprincipalug@Gmail.Com ( Vice Principal (UG))</li>
    </ol>

    <p><b>Web:</b></p>
    <ol>
        <li>Www.Andhraloyolacollege.Ac.In</li>
        <li>Www.Alcexams.Ac.In </li>
    </ol><hr>
    <footer>
        <p><marquee>Author: Designed and Maintained by Andhra Loyola College</marquee><br>
        <a routerLink="mailto:nagarjunareddy142263@gmail.com">nagarjunareddy142263@gmail.com</a></p>
      </footer>
</body>
</html>