<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Paper Clipings</h3><hr>
    <img  src="./assets/newspaper1.jpeg" height="200px" width="400px" class="naga">

    <img src="./assets/newspaper2.2.jpeg" height="200px" width="400px" class="sadhu">
   
    <img src="./assets/newspaper3.jpeg"  height="200px" width="400px" class="arjun">

    <img src="./assets/newspaper4.jpeg" height="200px" width="400px" class="arjun">

    <img src="./assets/newspaper5.jpeg" height="200px" width="400px" class="sadhu">

    <img src="./assets/newspaper6.jpeg" height="200px" width="400px" class="naga">

    <img src="./assets/newspaper7.jpeg" height="200px" width="400px" class="naga">

    <img src="./assets/newspaper8.jpeg" height="200px" width="400px" class="sadhu">

    <img src="./assets/newspaper9.jpeg" height="200px" width="400px" class="arjun">

    <img src="./assets/newspaper10.jpeg" height="200px" width="400px" class="arjun">

    <img src="./assets/newspaper11.jpeg" height="200px" width="400px" class="sadhu">

    <img src="./assets/newspaper12.jpeg" height="200px" width="400px" class="naga">

    <footer>
      <p><marquee>Author: Designed and Maintained by Andhra Loyola College</marquee><br>
      <a routerLink="mailto:nagarjunareddy142263@gmail.com">nagarjunareddy142263@gmail.com</a></p>
    </footer>

</body>
</html>