<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Degree</h3><hr>
<strong><p>Degree Programmes:</p></strong>
<p>As an Autonomous College, Andhra Loyola College has adopted the Choice-Based Credit System (CBCS) for the degree courses. As the name suggests, the students have adequate choice with regard to academic programmes, and the instructional methods include conventional lectures, IT-based sessions, classroom interactions, guest lectures, seminars, symposia, and field study. The College has adopted the semester system. The academic year consists of two semesters, each with 90 working days. The odd semesters (I, III & V) are from July to November, and the even semesters (II. IV & VI) are from December to April.</p>
<p>Project work is compulsory for all the final-year degree students in order to expose them to the fascinating world of research and also to develop in them a problem-solving approach.</p>
<p>Adequate importance is given to extra-curricular activities like sports and games, cultural events, and literary occasions with competitions of different kinds.</p>
<p>The College follows a system of evaluation based on Continuous Internal Assessment (CIA) and Semester-End Examination (SEE). The 100 marks allotted for each theory paper in a semester are distributed with equal weightage (50:50) between CIA and SEE.</p>
<p>The following are the Courses offered in the Degree College.</p>
<img src="./assets/cources.png" alt="no image" height="400px" width="1000px"><hr>

<footer>
    <p><marquee>Author: Designed and Maintained by Andhra Loyola College</marquee><br>
    <a routerLink="mailto:nagarjunareddy142263@gmail.com">nagarjunareddy142263@gmail.com</a></p>
  </footer>
</body>
</html>
