<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Departments</h3><hr>
    <div class="card-deck">
        <div class="card bg-primary">
          <div class="card-body text-center">
            <p class="card-text"></p>
         
              ADMINISTRATION<br>
              ENGLISH<br>
              TELUGU<br>
              HINDI & SANSKRIT<br>
              MATHEMATICS<br>
              STATISTICS<br>
              PHYSICS<br>
              CHEMISTRY<br>
              BOTANY<br>
              MICRO-BIOLOGY<br>
              ZOOLOGY<br>
             BIO-TECHNOLOGY<br>
              ECONOMICS<br>
             HISTORY & CULTURE<br>
              POLITICS<br>
             COMMERCE<br>
             B.B.A<br>
         


          </div>
        </div>
        <div class="card bg-warning">
          <div class="card-body text-center">
            <p class="card-text"></p>
            PHYSICAL EDUCATION<br>
            LIBRARY & INFORMATION SCIENCE<br>
            ELECTRONICS<br>
            COMPUTER SCIENCE<br>
            VISUAL COMMUNICATION<br>
            ETHICS & RELIGION<br>
            MUSIC/DANCE-ANIMATION DESIGN-SOUND<br>
            EXTENSION PROGRAMME - A.L.E.R.T./ A.L.A.N.A.<br>
            M.C.A<br>
            M.B.A.<br>
            PG PHYSICS<br>
            PG CHEMISTRY<br>
            PG BIOTECHNOLOGY<br>
            PG DEPT. OF VISUAL COMMUNICATION<br>
            PG - LIBRARY & INFORMATION SCIENCES<br>
            STUDENT COUNSELLORS<br>
            AICUF<br>
            CAMPUS MINISTRY<br>
          </div>
        </div>
        <div class="card bg-success">
          <div class="card-body text-center">
            <p class="card-text"></p>
            AVIATION MANAGEMENT<br>
            HOSPITALITY & HOTEL ADMINISTRATION<br>
            FOOD TECHNOLOGY, PARAMEDICAL & HOSPITAL ADMN.<br>
            SCHOOL OF VOCATIONAL EDUCATION<br>
            RENEWABLE ENERGY MANAGEMENT<br>
            PG MATHEMATICS<br>
            EXAMINATION CELL<br>
            E.L.T. CENTRE<br>
            HOSTEL<br>
            NEW HOSTEL (FOR BOYS)<br>
            GOGINENI HOSTEL (FOR BOYS)<br>
            XAVIER HOSTEL<br>
            SANJEEVAN NIVAS (FOR JESUIT SCHOLASTICS)<br>
            ALUMNI ASSOCIATION<br>
            NON-TEACHING STAFF- SECTION A<br>
            NON-TEACHING STAFF- SECTION B<br>
            NON-TEACHING STAFF- CLASS IV<br>
            WEBSITE/WI-FI/INTERNET/COMPUTER COMMITTEE<br>
            REV FR T.A.MATHIAS HOSTEL(FOR GIRLS)<br>
          </div>
        </div>
      </div>
      <footer>
        <p><marquee>Author: Designed and Maintained by Andhra Loyola College</marquee><br>
        <a routerLink="mailto:nagarjunareddy142263@gmail.com">nagarjunareddy142263@gmail.com</a></p>
      </footer>
</body>
</html>
