<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Welcome To <i style="color:dodgerblue;">Andhra Loyola College:</i></h3>
<p>Andhra Loyola College is managed and administered by the members of the Society of Jesus (Jesuits), a Catholic religious order which has rendered yeoman service in the field of education for over 450 years. The College was founded on 9th December 1953 at the request of the Catholic bishops . . .</p>
 
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./assets/image2.jpg" width="1400px" height="400px">
    </div>
    <div class="carousel-item">
      <img src="./assets/image1.jpg" width="1400px" height="400px">
    </div>
    <div class="carousel-item">
      <img src="./assets/image3.jpg" width="1400px" height="400px">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" routerLink="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" routerLink="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>

<footer>
  <p><marquee>Author: Designed and Maintained by Andhra Loyola College</marquee><br>
  <a routerLink="mailto:nagarjunareddy142263@gmail.com">nagarjunareddy142263@gmail.com</a></p>
</footer>
</body>
</html>




    
    