<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Research Committee</h3><hr>
    <table>
        <tr>
            <th>S.No</th>
            <th>Name</th>
            <th>Department</th>
            <th>Position</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Rev. Fr. Dr.G.A.P Kishore, S.J.</td>
            <td>Dept.Of. Telugu</td>
            <td>Chairman</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Dr.M.C.Rao</td>
            <td>Dept.of. Physics</td>
            <td>Coordinator</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Dr.B.Raju</td>
            <td>Dept.of. English</td>
            <td>Member</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Dr.N.Suresh Babu</td>
            <td>Dept.of. Sanskrit</td>
            <td>Member</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Dr.N.V.Ramana Murthy</td>
            <td>Dept.of. Mathematics</td>
            <td>Member</td>
        </tr>

        <tr>
            <td>6</td>
            <td>Dr.N.Srinivasa Rao</td>
            <td>Dept.of. Statistics</td>
            <td>Member</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Dr.G.Srinivasa Rao</td>
            <td>Dept.of. Physics</td>
            <td>Member</td>
        </tr>
        <tr>
            <td>8</td>
            <td>Dr.Ch.Srinivasu</td>
            <td>Dept.of. Physics</td>
            <td>Member</td>
        </tr>
        <tr>
            <td>9</td>
            <td>Dr.G.Sahaya Baskaran</td>
            <td>Dept.of. Physics</td>
            <td>Member</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Dr.Ch.Srinivasa Rao</td>
            <td>Dept.of. Physics</td>
            <td>Member</td>
        </tr>
        <tr>
            <td>11</td>
            <td>Dr.G.V.Ramana</td>
            <td>Dept.of. Chemistry	</td>
            <td>Member</td>
        </tr>
    </table><hr>
    <footer>
        <p><marquee>Author: Designed and Maintained by Andhra Loyola College</marquee><br>
        <a routerLink="mailto:nagarjunareddy142263@gmail.com">nagarjunareddy142263@gmail.com</a></p>
      </footer>
</body>
</html>