<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Photo Gallery</h3><hr>
    <b><p>Photo Gallery - Scholarship to Visual impairme</p></b>
    <img src="./assets/photo1.jpeg" height="200px" width="400px" class="naga">

    <img src="./assets/photo2.jpeg" height="200px" width="400px" class="sadhu">

    <img src="./assets/photo5.jpeg" height="200px" width="400px" class="arjun" >

    <img src="./assets/photo4.jpeg" height="200px" width="400px" class="naga">

    <img src="./assets/photo5.jpeg" height="200px" width="400px" class="sadhu">

    <img src="./assets/photo6.jpeg" height="200px" width="400px" class="arjun">

    <img src="./assets/photo6.jpeg" height="200px" width="400px" class="naga">

    <img src="./assets/photo2.jpeg"  height="200px" width="400px" class="sadhu">

    <img src="./assets/photo3.jpeg" height="200px"  width="400"   class="arjun"><hr>

    <footer>
        <p><marquee>Author: Designed and Maintained by Andhra Loyola College</marquee><br>
        <a routerLink="mailto:nagarjunareddy142263@gmail.com">nagarjunareddy142263@gmail.com</a></p>
      </footer>

</body>
</html>