h3{
    text-align: center;
}
p{
    text-align: center;
    color: darkorange;
}
.naga{
    padding: 5px;
    margin: 10px;
}
.sadhu{
    padding: 5px;
    margin: 10px;
    margin-left: 40px;
}
.arjun{
    padding: 5px;
    margin: 10px;
}
footer{
    text-align: center;
    color:red;
}
footer{
    text-align: center;
    color: red;
}
body{
    background-color:greenyellow;
    border-style: solid;
}